### Maven ###
build/
target/

### Gradle ###
.gradle
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### Eclipse ###
.classpath
.project
.settings/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### VS Code ###
.vscode/

### MacOS ###
.DS_Store

### Windows ##
Thumbs.db

### Log ###
logs/

### Docker Test Credentials ###
.env
